body {
    background: white;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 100px;
}

.navbar {
    padding: 20px 30px;
}
.navbar__title {
    color: black;
    font-size: 16px;
    margin-bottom: 15px;
}

.vertical-list {
    padding: 0;
    list-style: none;
}
.vertical-list a {
    text-decoration: none;
    outline: none;
    display: block;
    padding: 5px 0; 
    color: black;
}
.vertical-list a:hover {
    color: brown;
}

.horizontal-list {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 650px;
    text-align: center;
}
.horizontal-list li {
    display: inline;
}
.horizontal-list a {
    text-decoration: none;
    outline: none;
    display: inline-block;
    padding: 5px 10px; 
    color: black;
    width: 100px;
    border: 2px solid black;
}
.horizontal-list a:hover {
    color: brown;
}

.dd-list {
    width: 650px;
    text-align: center;
}
.dd-list, .dd-list ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.dd-list ul {
    display: none;
    position: absolute;
    top: 100%;
}
.dd-list li {
    float: left;
    position: relative;
    height: 100%;
}
.dd-list li:hover a{
    color: brown;
}
.dd-list li:hover ul li a {
    color: black;
}
.dd-list li:hover ul li:hover a {
    color: brown;
}
.dd-list li:hover ul { 
    display: block; 
}
.dd-list li a {
    text-decoration: none;
    outline: none;
    display: inline-block;
    padding: 5px 10px;
    background-color: white;
    color: black;
    width: 120px;
    border: 1px solid black;
}

.social {
    margin-top: 50px;
    padding: 20px 30px;
    display: block;
}
.fa {
    padding: 10px;
    font-size: 16px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    color: white;
}
.fa__rounded {
    border-radius: 50%;
}
.fa-facebook {
    background: #3B5998;
}
.fa-twitter {
    background: #55ACEE;
}
.fa-youtube {
    background: #a30225;
}
.fa-vk {
    background: #115488;
}

.pagination {
    margin-top: 50px;
    padding: 20px 30px;
    display: block;
}
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
} 
.pagination a.active {
    background-color: dodgerblue;
    color: white;
}
.pagination.border a {
    border: 1px solid #ddd;
    margin: 0 4px;
}
.pagination.border a.active {
    background-color: rgb(70, 158, 84);
    color: white;
}

.comments {
    margin-top: 50px;
    padding: 20px 30px;
    display: block;
}
.comments input {
    display: block;
    margin-bottom: 20px;
}
textarea {
    background: #fffbf3;
    border: 1px solid #000;
    padding: 10px;
    width: 500px;
    height: 100px;
    box-sizing: border-box;
    font-size: 14px;
}
.comment {
    width: 500px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
}
.author {
    color: cornflowerblue;
}
.date {
    font-size: 12px;
    padding-left: 5px;
    color: darkslategray;
}
.comment2 {
    width: 520px;
    margin-bottom: 10px;
}
.author2 {
    color: black;
    background-color: darksalmon;
    padding: 10px;
}
.text2 {
    color: black;
    background-color: antiquewhite;
    padding: 10px;
}