body {
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    background-color: white;
    border-bottom: 1px solid #011627;
}

.banner {
    background-color: #eaecf0;
}

.call-to-action {
    background-color: #011627;
    color: white;
}

.technologies .image-fluid {
    height: 300px;
}

.dark {
    background-color: #011627;
    color: #83F3E9;
}

.footer {
    background-color: #011627;
    color: white;
}