body {
  margin: 0;
  min-width: 960px;
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  line-height: 32px;
  color: #222222;
  background-color: #f2f4f6;
}

html, body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  padding: 32px 0 32px;
}

.header,
.footer {
  display: flex;
  justify-content: flex-end;
  margin-right: auto;
  text-align: right;
  width: 100%;
}

.header a {
  margin-left: 56px;
  padding-top: 0px;
  color: #288be6;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: left;
}

.header-email {
  padding-left: 30px;
  background-image: url("../img/icon-email-header.svg");
}

.header-phone {
  padding-left: 25px;
  background-image: url("../img/icon-phone-header.svg");
}

.header-github {
  margin-right: 110px;
  padding-top: 0;
  padding-left: 50px;
  background-image: url("../img/icon-github-header.svg");
  background-size: 30%;
}

.main {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 6rem;
  padding-top: 3rem;
  background-color: #f5f5f5;
  font-family: "Inter", sans-serif;
}

.grid {
  display: grid;
  width: 114rem;
  grid-gap: 6rem;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  align-items: start;
}
.grid__item {
  background-color: #fff;
  border-radius: 0.4rem;
  overflow: hidden;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  transition: 0.2s;
}
.grid__item:hover {
  transform: translateY(-0.5%);
  box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.2);
}

.card__img {
  display: block;
  width: 100%;
  height: 18rem;
  object-fit: cover;
  border-bottom: 2px solid black;
}
.card__content {
  padding: 3rem 3rem;
}
.card__header {
  font-size: 3rem;
  font-weight: 500;
  line-height: 3rem;
  color: #0d0d0d;
  margin-bottom: 1.5rem;
}
.card__text {
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  line-height: 1.7;
  color: #3d3d3d;
  margin-bottom: 2.5rem;
}
.card__btns {
  display: flex;
  justify-content: space-around;
}
.card__btn {
  display: block;
  text-decoration: none;
  width: 100%;
  padding: 1.5rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  font-size: 2rem;
  text-align: center;
  color: #3363ff;
  background-color: #e6ecff;
  border: none;
  border-radius: 0.4rem;
  transition: 0.2s;
  cursor: pointer;
}
.card__btn:hover {
  background-color: #1b2c62;
}



.footer {
  padding: 40px 0;
  background-color: #272727;
  color: #ffffff;
}

.footer a {
  margin-left: 56px;
  color: inherit;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: left;
}

.footer-email {
  padding-left: 30px;
  background-image: url("../img/icon-email-footer.svg");
}

.footer-phone {
  padding-left: 25px;
  background-image: url("../img/icon-phone-footer.svg");
}

.footer-github {
  padding-left: 50px;
  margin-right: 110px;
  background-image: url("../img/icon-github-footer.svg");
  background-size: 30%;
}
